*,*::before, *::after{
	box-sizing:border-box;
	font-family: sans-serif;
}

body
{
	background: rgb(255,255,200);
}

.bigText
{
	font-size: 2em;
}

.hide
{
	display: none;
}

.correct
{
	color:green;
}

.wrong
{
	color:red;
}

.normalText
{
	font-size: 1.2em;
}


.textInput
{
    resize: horizontal;
	width: 600px;
	height: 400px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 600px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}